%section.text-center
  #logo-container
    %a{:href => '#'}
      %img#logo{:src => 'http://placehold.it/250x125'}
    %a{:href => 'http://www.google.com'}
      #link1
    %a{:href => 'http://www.reddit.com'}
      #link2
    %a{:href => 'http://www.twitter.com'}
      #link3
    %a{:href => 'http://www.github.com'}
      #link4
    %a{:href => 'http://news.ycombinator.com'}
      #link5
    %a{:href => 'http://www.youtube.com'}
      #link6
    %a{:href => 'http://www.whatthefuckshouldimakefordinner.com'}
      #link7
    %a{:href => 'http://www.jackhq.com'}
      #link8
