%section.text-center
  #logo-container
    %a{:href => '#'}
      %img#logo{:src => 'http://placehold.it/250x125'}
    #link1 Home
    #link2 Talks
    #link3 About
    #link4 Whatup
    #link5 Blah
    #link6 Loblaw
    #link7 Yada
    #link8 SASS
