%section.text-center
  #logo-container
    %a{:href => '#'}
      %img#logo{:src => 'http://placehold.it/250x125'}
    %a{:href => 'http://www.google.com'}
      #link1{:style => 'background:url(images/google.png) no-repeat'}
    %a{:href => 'http://www.reddit.com'}
      #link2{:style => 'background:url(images/reddit.png) no-repeat'}
    %a{:href => 'http://www.twitter.com'}
      #link3{:style => 'background:url(images/twitter.png) no-repeat'}
    %a{:href => 'http://www.github.com'}
      #link4{:style => 'background:url(images/github.png) no-repeat'}
    %a{:href => 'http://news.ycombinator.com'}
      #link5{:style => 'background:url(images/ycombinator.png) no-repeat'}
    %a{:href => 'http://www.teemagnet.com'}
      #link6{:style => 'background:url()'}
    %a{:href => 'http://www.whatthefuckshouldimakefordinner.com'}
      #link7{:style => 'background:url(images/wtf_for_dinner.png) no-repeat'}
    %a{:href => 'http://www.jackhq.com'}
      #link8{:style => 'background:url(images/jackhq.png) no-repeat'}
